<h2>Upload a CSV:</h2>
<table>
  <tbody>
    <%= form_for @datasheet, url: admin_datasheets_path do |f| %>
      <tr>
        <td><%= f.label :name, 'Name of this chart or datasheet:' %></td>
        <td><%= f.text_field :name, autofocus: true %></td>
      </tr>

      <tr>
        <td><%= f.label :file, 'Upload your CSV:' %></td>
        <td><%= f.file_field :file %></td>
      </tr>

      <tr>
        <td colspan=2><%= f.submit 'Upload Data' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
