<!DOCTYPE html>
<html>
  <head>
    <title>Necker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= favicon_link_tag 'favicon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  </head>

  <body>
    <div class="flash">
       <p class="notice"><%= tag.span notice if notice %></p>
       <p class="alert"><%= tag.span alert if alert %></p>
    </div>
    <%= yield %>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
