<!DOCTYPE html>
<html>
  <head>
    <title>Necker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= favicon_link_tag 'favicon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  </head>

  <body>
    <%= render partial: 'layouts/header' %>
    <div class="flash">
       <p class="notice"><%= tag.span notice if notice %></p>
       <p class="alert"><%= tag.span alert if alert %></p>
    </div>
    <div id="container">
      <%= yield %>
    </div>
    <%= render partial: 'layouts/footer' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
